apiVersion: v1
kind: Config

preferences: {}

clusters:
- cluster:
    certificate-authority-data: {{ CERTIFICATE_AUTHORITY_DATA }}
    server: {{ SERVER_ADDRESS }}
  name: {{ CLUSTER_NAME }}

contexts:
- context:
    cluster: {{ CLUSTER_NAME }}
    user: {{ USER_NAME }}@{{ CLUSTER_NAME }}
  name: {{ USER_NAME }}@{{ CLUSTER_NAME }}

current-context: {{ USER_NAME }}@{{ CLUSTER_NAME }}

users:
- name: {{ USER_NAME }}@{{ CLUSTER_NAME }}
  user:
    client-certificate-data: {{ CLIENT_CERTIFICATE_DATA }}
    client-key-data: {{ CLIENT_KEY_DATA }}
